/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */




@include large-desktop {
  body {@include fontStack($raleway, 1.6em, 1.6);}

    .main-logo {max-width: 150px;}

    blockquote {
      padding: 50px;

    }

    .team-member {
      width: calc(24.33% - 20px);
    }

    .features-left  {
      .feature {
        padding: 32px 10px;
        max-height: 150px;
      }
      .feature{
        .icon {
          font-size: 5em;
        }
      }
    }

    .features-center {
      .feature {
        padding: 32px 10px;
        width: calc(24.33% - 30px);
      }
    }

  .project {
    .project-img-holder {
      min-height: 300px;
    }
  }

  .review-wrap {
    width: 410px;
  }

  #subscribe {
    width: 500px;
    margin-left: calc( 50% - 250px);
    padding: 100px 50px;

  }

  #subscribe-form {

    #subscribe-result {
      padding: 20px 50px;
      height: 150px;
      bottom: -150px;

    }
    .btn-solid {
      padding: em(10px) em(40px); }
    .btn-light {
      padding: em(10px) em(40px); }

  }

  #contact_form {
    font-size: em(14px);

    div {
      padding: 0 em(5px);
    }

    .input-name {
      margin-bottom: em(10px);
      padding: em(10px);
      height: em(45px);
    }

    .input-message {
      height: em(100px);
    }

  }

  address {
    margin-top: em(25px) !important;
    span {
      font-size: em(16px);
    }

    i {
      padding-right: em(5px);
    }
  }

  .launch-date {
    height: em(160px);
    h2 {
      margin-bottom: em(-5px);
      margin-top: em(-5px);
    }
  }

  .post-img-holder {
    position: relative;
    min-height: 130px;
    &.post-image {
      min-height: 650px;
    }
    &.large {
      min-height: 535px;
    }
    &.medium {
      min-height: 500px ;
    }
    &.small {
      min-height: 400px;
    }
    &.v-small {
      min-height:300px;
    }
    &.vv-small {
      min-height:180px;
    }
  }


}


@include extra-large-desktop {

  #subscribe {
    width: 600px;
    margin-left: calc( 50% - 300px);
    padding: 100px 50px;

  }

  #subscribe-form {
    .input-email {
      margin-bottom: 20px;
    }
    .input-submit {
    }

  }

  .review-wrap {
    width: 430px;
  }

  .project {
    .project-img-holder {
      min-height: 400px;
    }
}

  .project {
    margin: 20px 15px;
  }

  .features-left  {
    .feature {
      padding-top: 25px;
      max-height: 170px;
      .heading {
        font-size: .9em;
      }
      .para {
        font-size: .74em;
      }
    }
  }

}

@include medium {

  #leftSide {@include sides(relative, 0, 0, 100% );
    #info {display: none;}
    height: 100vh;
    z-index: 2;
  }

  #rightSide {
    @include sides(relative, 0, 0, 100%, auto);
    padding: 0;

    #rightContent {
      width: 100%;
      min-height: 100vh;
      @include vendor-prefix(transform, translateX(0));
      .close-bar {
        padding: 20px;
        .close-icon, .mobile-menu-icon {
          display: none;
        }
      }
    }

    &.img-only {
      height: 100vh;
      .scene {
        position: fixed;
      }
    }
  }

  .img-only {
    .scene {
      position: fixed !important;
    }
  }

  .deft-nav {
    margin-left: 0;
    top: 4px;
  }

  #home {
    left: -15px;

    .h-content {
      position: relative;
      z-index: 0;
      color: $white;

      .ion-heart {
        color: $crimson;
      }

    }
  }


  .main-logo {
    position: relative;
   max-width: 125px;
 }

 .vertical-result {

   #subscribe-result {
     position: absolute !important;
     width:157%;
     transform: translateY(100%);
     @include vendor-prefix(transition, $medium-transition);
     bottom: 0;
     left: -25%;
     right: 0;
     padding: 20px 50px;
     margin-top: 60px;
     text-align: left;
     z-index: 9;
   }
 }


}


@include tablet {

  .full-height {height:  100vh;}

  .percent84 {width: 100% !important;}

  #contact_form {
    > div {padding: 0 15px;}
    .input-name {width: 100%;}
  }
  p {font-size: 1em;}

  .background-img-holder {
    height: 100vh !important;
  }

  #leftSide {
      height: 100%;
      z-index: 2;
  }

  #rightSide {
    &.img-only {
      height: 100vh;
    }
  }


  #home {
    height: 100%;
    left: 0;
  }

  .social_tab {
    &.fixed {
      position: absolute !important;
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  .copyright {
    &.fixed {
      position: absolute !important;
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  .custom-map {
      position: relative;
      height: 666px;
      width: 100%;
  }

  .map-enabled {
    position: absolute;
    z-index: 3;
    top: 0;

  }

  #mapToggle {
    right: 50px;
  }


}

@include  landscape-phone {

  body {@include fontStack($raleway, 0.75em, 1.6);}

  #leftSide {
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #rightSide {
    position: relative !important;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }

  .time-dash {
    position: relative !important;
    top: auto;
    width: 100%;
  }

    .main-logo {
      max-width: 100px;
     }

    .social_tab {
      &.fixed {
        position: relative !important;
        margin: 40px 0;
      }
    }


    .copyright.fixed {
      position: relative !important;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .align-bottom {
      bottom: 0;
    }

    .main-logo.align-bottom {
      bottom: 25px;
    }


}

@include phone {

  .deft-posts-container {
    article {
      width: 100%;
      margin: 15px 0;
    }
  }

  .post-img-holder {
    &.vv-small {
      min-height:180px;
    }
  }

  .author_bio_section{
    padding: 20px !important;
    .author_pic {
      width: 100%;
      display: block;
    }
    .author_details {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
    }
  }

    .deft-primary-menu {
      @include vendor-prefix(transition, $medium-transition);
      display: table;
      background: $white;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 3;
      visibility: hidden;
      opacity: 0;
      &.visible {
        @include vendor-prefix(transition, $medium-transition);
        opacity: 1;
        visibility: visible;
      }
    }

  #mapToggle {
    left: 137px;
  }

  .author_bio_section {
    text-align: center;
  }

  .author_details {
    img {
      text-align: center;
      float: none;
    }
  }

  .close-bar {
    border-bottom: none;
    display: none;
    padding: 20px 10% !important;
    .share_icons, .follow {
      display: none;
    }
  }

  .mobile-menu-icon {
    display: inline !important;
    font-size: 1.2em;
    right: 30px;
    top: 30px;
    position: fixed;
    text-align: center;
    z-index: 4;
    line-height: 50px;
    width: 50px;
    background: $t-color;
    height: 50px;
    border-radius: 100%;
    i {
      color: $white;
    }
  }

  .deft-nav {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    top: 0;
    li {
      display: block;
      font-size: 1.4em;
      margin: 20px 10px;
      .sub-menu {
        border-style: none;
        visibility: visible;
        opacity: 1;
        position: relative;
        margin-top: 0px;
        border-radius: 15px;
         padding: 0;
         transform: translateX(0);
         &:before, &:after {
           content: none;
         }
         li {
           font-size: .9em;
           color: #9facbd;

         }
         .sub-menu {
            visibility: visible;
            opacity: 1;
            position: relative;
            border-radius: 15px;
            background: white;
            padding: 0;
            left: 0;
            top: 0;
            border-style: none;
            li {
              font-size: .85em;
              color: #9facbd;
            }
            .sub-menu {
              li {
                font-size: .8em;
                color: #9facbd;
              }
            }
         }
      }
    }
}

  .project {
    margin: 15px;
    width: calc(100% - 30px);
  }


  .wpcf7 input[type=submit] {
    width: 100%;
    clear: both;
    margin-right: 0;
    padding: 0 5px;
    margin-bottom: 15px;
  }

  .wpcf7-form .wpcf7-response-output {
    width: 100%;
    clear: both;
  }

  #container {
    &.angle {
      position: relative;
    }
  }

  .main-logo {max-width: 100px;}

  #output {
    display: none;
  }

  #leftSide {
    height: 100%;
  }

  #contact_form {
    .input-submit {
      width: 100%;
      float: none;
      clear: both;}}

  #form-messages {
    padding: 0 5px;
    margin:  0;
    margin-top: 20px;
    width: 100%; }

  #subscribe {
    width: 280px;
    padding: 30px 25px;
    margin-left: calc( 50% - 140px);
    h2 {
      font-size: 1.5em;
    }
    &.center {
      margin-left: calc(50% - 140px ) !important;
    }
    .border {
      .mb50 {
        margin-bottom: 30px;
      }
      .close-btn {
        top: 10px;
        right: 14px;
      }
      .mail-icon {
        font-size: 2em;
      }
    }
    }


    #subscribe-form {
      &.vertical-form  {
        .input-email {
          width: 45% !important;
        }
      }
    }

  #subscribe-form #subscribe-result {
    padding: 20px 50px;
    height: 90px;
    position: absolute;
    bottom: -50px;
    left: -50px;
    right: -50px;

  }


  .social_tab {
    .social_icons {
      li {
        padding: 0 2.5px;
      }
    }
  }

  .social_tab {
    &.fixed {
      position: relative !important;
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  .copyright {
    &.fixed {
      position: relative !important;
      bottom: 0;
    }
  }

  .copyright {
    &.absolute {
      bottom: 0;
      padding-bottom: 10px;
    }
  }


  .time-dash {
    position: relative;
    left: 0;
    padding: 20px 25px;
    top: auto;
    width: 100%;


    .date {

      h4 {
        font-size: 1.5em;
      }
      span {
        font-weight: 200;
        font-size: .9em;
      }
    }
    .time {
      padding-left: 25px;
      margin-top: .4em;
      span {
        font-size: 1.8em;

      }
    }
  }

  .features-center {
    .feature {
      padding: 15px 10px;
      width: calc(50% - 30px);
    }
  }

  iframe {
    width: 100%;
  }

  .team-member {
    position: relative;
    margin: 20px 0;
    width: 70%;
    left: 15%;
  }



}

@include smallPhone {

    body {
        @include fontStack($raleway, 0.625em, 1.6);
    }

    #leftSide {
      height: 100%;
    }

    .main-logo {max-width: 80px;}


    .time-dash {
      position: relative;
      left: 0;
      padding: 20px 25px;
      top: auto;
      width: 100%;
      border-radius: 5px;

      .date {

        h4 {
          font-size: 1.2em;
        }
        span {
          font-size: .9em;
        }
      }
      .time {
        padding-left: 20px;

        span {
          color: rgba($white, .8);
          font-weight: 300;
          font-size: 1.4em;

        }
      }
    }

}
